#title, .subtitle, .title_post1, .author_post, .post_content, .contacts_list {
  color: Purple;
  font-family: helvetico;
  font-size: 30px;
  font-style: italic;
}

.title_post1, .author_post, .post_image, .post_content {
  padding-left: 5px;
}

.author_post {
  font-size: 14px;
  color: OrangeRed;
}

#title {
  margin-top: 20px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
}

.photo_name{
  border: 3px solid Pink;
  border-radius: 25px;
}

.title_post1 {
  font-size: 15px;
  color: BlueViolet;
}

.post {
  background: #fff;
  border: 3px solid Pink;
  border-radius: 15px;
}

.post_content {
  font-size: 14px;
}

.post_image{
  width: 99%;
  border-radius: 15px;
  
}

.contacts {
  margin: 15px;
  
}

.body{
  max-width: 900px;
  margin: auto;
  background: #f7f7f7
 
}
